# General
.DS_Store
.AppleDouble
.LSOverride

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode

# Dependency directories
node_modules

# Optional
.npm
.node_repl_history
